<!DOCTYPE html>
<html lang="en">


<head>
    <title>AVTS</title>
    <!-- META TAGS -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="National Skill Training Institute, Dehradun">
    <meta name="keyword" content="education">
    <!-- FAV ICON(BROWSER TAB ICON) -->
    <link rel="shortcut icon" href="images/fav.ico" type="image/x-icon">
    <!-- GOOGLE FONT -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700%7CJosefin+Sans:600,700" rel="stylesheet">
    <!-- FONTAWESOME ICONS -->
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <!-- ALL CSS FILES -->
    <link href="css/materialize.css" rel="stylesheet">
    <link href="css/bootstrap.css" rel="stylesheet" />
    <link href="css/style.css" rel="stylesheet" />
    <!-- RESPONSIVE.CSS ONLY FOR MOBILE AND TABLET VIEWS -->
    <link href="css/style-mob.css" rel="stylesheet" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
	<script src="js/html5shiv.js"></script>
	<script src="js/respond.min.js"></script>
	<![endif]-->
</head>

<body>

    <!-- MOBILE MENU -->
    <section>
        <div class="ed-mob-menu">
            <div class="ed-mob-menu-con">
                <div class="ed-mm-left">
                    <div class="wed-logo">
                        <a href="index-2.html"><img src="images/logo.png" alt="" />
						</a>
                    </div>
                </div>
                <div class="ed-mm-right">
                    <div class="ed-mm-menu">
                        <a href="#!" class="ed-micon"><i class="fa fa-bars"></i></a>
                        <div class="ed-mm-inn">
                            <a href="#!" class="ed-mi-close"><i class="fa fa-times"></i></a>
                            <h4>All Courses</h4>
                            <ul>
                               <li><a href="ibm-adit-course-details.html">IBM ADIT</a></li>
                                <li><a href="cts-course-details.html">CTS</a></li>
                                <li><a href="cits-course-details.html">CITS</a></li>
                                <li><a href="avts-course-details.html">AVTS</a></li>
                            </ul>
                            <h4>User Account</h4>
                            <ul>
                                <li><a href="#!" data-toggle="modal" data-target="#modal1">Sign In</a></li>
                                <li><a href="#!" data-toggle="modal" data-target="#modal2">Register</a></li>
                            </ul>
                            <h4>All Pages</h4>
                            <ul>
                                <li><a href="index-2.html">Home</a></li>
                                <li><a href="about.html">About us</a></li>
                                <li><a href="admission.html">Admission</a></li>
                                <li><a href="all-courses.html">All courses</a></li>
                                <li><a href="course-details.html">Course details</a></li>
                                <li><a href="awards.html">Awards</a></li>
                                <li><a href="seminar.html">Seminar</a></li>
                                <li><a href="events.html">Events</a></li>
                                <li><a href="event-details.html">Event details</a></li>
                                <li><a href="event-register.html">Event register</a></li>
                                <li><a href="contact-us.html">Contact us</a></li>
                            </ul>
                            <h4>User Profile</h4>
                            <ul>
                                <li><a href="dashboard.html">User profile</a></li>
                                <li><a href="db-courses.html">Courses</a></li>
                                <li><a href="db-exams.html">Exams</a></li>
                                <li><a href="db-profile.html">Profile</a></li>
                                <li><a href="db-time-line.html">Time line</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--HEADER SECTION-->
    <section>
        <!-- TOP BAR -->
        <div class="ed-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="ed-com-t1-left">
                            <ul>
                               <li><a href="#">Green Park Colony, Dehradun</a>
                                </li>
                                <li><a href="#">Phone: 0135-2629310</a>
                                </li>
                            </ul>
                        </div>
                        <div class="ed-com-t1-right">
                            <ul>
                                <li><a href="#!" data-toggle="modal" data-target="#modal1">Sign In</a>
                                </li>
                                <li><a href="#!" data-toggle="modal" data-target="#modal2">Sign Up</a>
                                </li>
                            </ul>
                        </div>
                        <div class="ed-com-t1-social">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                </li>
                                <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                                </li>
                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- LOGO AND MENU SECTION -->
        <div class="top-logo" data-spy="affix" data-offset-top="250">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="wed-logo">
                            <a href="index-2.html"><img src="images/logo.png" alt="" />
                            </a>
                        </div>
                        <div class="main-menu">
                            <ul>
                                <li><a href="index-2.html">Home</a>
                                </li>
                                <li class="about-menu">
                                    <a href="about.html" class="mm-arr">About us</a>
                                    <!-- MEGA MENU 1 -->
                                    <div class="mm-pos">
                                        <div class="about-mm m-menu">
                                            <div class="m-menu-inn">
                                                <div class="mm1-com mm1-s1">
                                                    <div class="ed-course-in">
                                                        <a class="course-overlay menu-about" href="admission.html">
                                                            <img src="images/h-about.jpg" alt="">
                                                            <span>Academics</span>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="mm1-com mm1-s2">
                                                    <p style="text-align: justify;">Want to change the world? At NSTI we’re doing just that. When you join the NSTI Dehradun institute, you’re part of an institution that shifts the global conversation every single day.</p>
                                                    <a href="about.html" class="mm-r-m-btn">Read more</a>
                                                </div>
                                                <div class="mm1-com mm1-s3">
                                                    <ul>
                                                        <li><a href="all-courses.html">All Courses</a></li>
                                                        <li><a href="course-details.html">Course details</a></li>
                                                        <li><a href="about.html">About</a></li>
                                                        <li><a href="admission.html">Admission</a></li>
                                                        <li><a href="awards.html">Awards</a></li>
                                                    </ul>
                                                </div>
                                                <div class="mm1-com mm1-s4">
                                                    <ul>
                                                        <li><a href="dashboard.html">Student profile</a></li>
                                                        <li><a href="db-courses.html">Dashboard courses</a></li>
                                                        <li><a href="db-exams.html">Dashboard exams</a></li>
                                                        <li><a href="db-profile.html">Dashboard profile</a></li>
                                                        <li><a href="db-time-line.html">Dashboard timeline</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="admi-menu">
                                    <a href="#" class="mm-arr">Admission</a>
                                    <!-- MEGA MENU 1 -->
                                    <div class="mm-pos">
                                        <div class="admi-mm m-menu">
                                            <div class="m-menu-inn">
                                                <div class="mm2-com mm1-com mm1-s1">
                                                    <div class="ed-course-in">
                                                        <a class="course-overlay" href="about.html">
                                                            <img src="images/h-about1.jpg" alt="">
                                                            <span>Academics</span>
                                                        </a>
                                                    </div>
                                                    <p>Want to change the world? At NSTI we’re doing just that. When you join the institute, you’re part of an institution that shifts the global conversation every single day.</p>
                                                    <a href="about.html" class="mm-r-m-btn">Read more</a>
                                                </div>
                                                <div class="mm2-com mm1-com mm1-s1">
                                                    <div class="ed-course-in">
                                                        <a class="course-overlay" href="admission.html">
                                                            <img src="images/h-adm1.jpg" alt="">
                                                            <span>Admission</span>
                                                        </a>
                                                    </div>
                                                    <p>Admission is fully based on the All India Combined Entrance Test in respective courses which helds online every year. The candidates can register online here.</p>
                                                    <a href="admission.html" class="mm-r-m-btn">Read more</a>
                                                </div>
                                                <div class="mm2-com mm1-com mm1-s1">
                                                    <div class="ed-course-in">
                                                        <a class="course-overlay" href="awards.html">
                                                            <img src="images/h-cam1.jpg" alt="">
                                                            <span>History & awards</span>
                                                        </a>
                                                    </div>
                                                    <p>Being one of the prestigious institute of India, It had achieved great milestones in their respective field. In 2016 Institute of excellence was crowned to it.</p>
                                                    <a href="awards.html" class="mm-r-m-btn">Read more</a>
                                                </div>
                                                <div class="mm2-com mm1-com mm1-s4">
                                                    <div class="ed-course-in">
                                                        <a class="course-overlay" href="seminar.html">
                                                            <img src="images/h-res1.jpg" alt="">
                                                            <span>Seminar 2020</span>
                                                        </a>
                                                    </div>
                                                    <p>Regularly either job based seminar or skill oriented one takes place annually at a coherent manner to boost the potential of the candidates present there. </p>
                                                    <a href="seminar.html" class="mm-r-m-btn">Read more</a>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li><a href="all-courses.html">All Courses</a></li>
                                <!--<li><a class='dropdown-button ed-sub-menu' href='#' data-activates='dropdown1'>Courses</a></li>-->
                                <li class="cour-menu">
                                   
                                <li><a href="events.html">Events</a>
                                </li>
                                <li><a href="dashboard.html">Student</a>
                                </li>
                                <li><a href="contact-us.html">Contact us</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="all-drop-down-menu">

                    </div>

                </div>
            </div>
        </div>
        <div class="search-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="search-form">
                            <form>
                                <div class="sf-type">
                                    <div class="sf-input">
                                        <input type="text" id="sf-box" placeholder="Search course and discount courses">
                                    </div>
                                    <div class="sf-list">
                                        <ul>
                                            <li><a href="ibm-adit-course-details.html">IBM Advanced Diploma in IT</a></li>
                                            <li><a href="cts-course-details.html">Craftsman Training Scheme (CTS)</a></li>
                                            <li><a href="cits-course-details.html">Craftsman Instructor Training Scheme (CITS)</a></li>
                                            <li><a href="avts-course-details.html">Advanced Vocational Trainig Scheme (AVTS)</a></li>
                                            <li><a href="cts-course-details.html">Electronic Mechanic (EM)</a></li>
                                            <li><a href="cits-course-details.html">Computer Software Application (CSA)</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="sf-submit">
                                    <input type="submit" value="Search Course">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--END HEADER SECTION-->

    <!--SECTION START-->
    <section>
        <div class="container com-sp pad-bot-70 pg-inn">
            <div class="row">
                <div class="cor">
                    <div class="col-md-3">
                        <div class="cor-top-deta cor-side-com">
                            <div class="cor-top-deta">
                                <div class="ho-st-login cor-apply field-com">
                                    <div class="col s12">
                                        <form class="col s12">
                                            <div class="cor-left-app-tit">
                                                <h4>Apply This Course</h4>
                                                <p>Apply to be a part of it.</p>
                                            </div>
                                            <div class="row">
                                                <div class="input-field col s12">
                                                    <input type="text" class="validate">
                                                    <label>Full Name</label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="input-field col s12">
                                                    <input type="text" class="validate">
                                                    <label>Email id</label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="input-field col s12">
                                                    <input type="text" class="validate">
                                                    <label>Phone</label>
                                                </div>
                                            </div>
                                             <div class="row">
                                                <div class="input-field col s12">
                                                    <input type="text" class="validate">
                                                    <label>Course Name</label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="input-field col s12">
                                                    <input type="submit" value="APPLY NOW" class="waves-effect waves-light light-btn">
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="cor-side-com">
                            <div class="">
                                <div class="de-left-tit">
                                    <h4 style="text-align: center">What' New</h4>
                                </div>
                            </div>
                            <div class="ho-event">
                                <ul>
                                    <li>
                                        <div class="ho-ev-link ho-ev-link-full">
                                            <a href="#">
                                                <h4>Cultural</h4>
                                            </a>
                                            <p>Diwali Celebration</p>
                                            <span>As we indians follow secularism and we are blessed with a rich culture so we are going to celebrate one of the important fastival of india and that is Diwali.</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="ho-ev-link ho-ev-link-full">
                                            <a href="#">
                                                <h4>Sports</h4>
                                            </a>
                                            <p>Annual Sports Meet</p>
                                            <span>We believe in fact that the mental fitness is totally based on physical fitness that is why we organize sports session every year.</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="ho-ev-link ho-ev-link-full">
                                            <a href="#">
                                                <h4>Academic</h4>
                                            </a>
                                            <p>Examination</p>
                                            <span>Institute is going to organize internal examination. </span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="ho-ev-link ho-ev-link-full">
                                            <a href="#">
                                                <h4>Orientation Programme</h4>
                                            </a>
                                            <p>Welcome Freshers</p>
                                            <span>To make students get acquainted from our culture, rules and regulations we take an initiative as an orientation programme.</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="cor-mid-img">
                            <img src="images/NSTI.png" alt="">
                        </div>
                        <div class="cor-con-mid">
                            <div class="cor-p1">
                                <h2 style="line-height: 40px;">Advance Vocational Training Scheme</h2>
                                
                                <div class="share-btn">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-facebook fb1"></i> Share On Facebook</a>
                                        </li>
                                        <li><a href="#"><i class="fa fa-twitter tw1"></i> Share On Twitter</a>
                                        </li>
                                        <li><a href="#"><i class="fa fa-google-plus gp1"></i> Share On Google Plus</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="cor-p4">
                                <h3>Course Details</span></h3>
                                <p>In order to upgrade and update the skills of serving industrial workers, the AVTS is in operation since 1977. The scheme was launched by erstwhile DGE&T, Ministry of Labour and (now Directorate General of Training (DGT), Ministry of Skill Development & Entrepreneurship) in collaboration with UNDP/ILO in 1977 at the then 6 Advanced Training Institutes (ATIs) under DGE&T and 16 ITIs of the 15 State Governments.</p><p> Under the scheme, training in selected skill areas is being imparted through short-term modular courses of one to six weeks’ duration. Tailor-made courses suiting to the specific requirements of industrial establishments are also offered. Over 3.5 lakh industrial workers / technicians have made use of the training facilities at the NSTIs (erstwhile ATIs) since Sept, 2007. With financial assistance from World Bank, training facilities in additional areas were created at ATIs and the existing training facilities were also strengthened.
</p>


                            </div>
                            <div class="cor-p5">
                                <h3>Course Syllabus</h3>
                                <ul class="nav nav-tabs">
                                    <li class="active"><a data-toggle="tab" href="#home">
									<img src="images/icon/cor4.png" alt=""> <span>Requirements</span></a>
                                    </li>
                                    <li><a data-toggle="tab" href="#menu1"><img src="images/icon/cor3.png" alt=""><span>Fees</span></a></li>
                                    <li><a data-toggle="tab" href="#menu2"><img src="images/icon/cor1.png" alt=""><span>Student Profile</span></a></li>
                                    <li><a data-toggle="tab" href="#menu2"><img src="images/icon/cor5.png" alt=""><span>How to Apply</span></a></li>
                                </ul>

                                <div class="tab-content">
                                    <div id="home" class="tab-pane fade in active">
                                        <h4>Home</h4>
                                        <p><b> To apply for this course candidates have to satisfy any one of eligibility criteria.</b></p>
                                        <ol>
                                    
                                        <li> Candidate should be Degree or Diploma holder in relevant Trade.</li> 
                                        <li>National Trade Certificate/National Apprenticeship Certificate with 2 to 3 years relevant trade experience.</li>
                                   </ol>
                                   
                                    </div>
                                    <div id="menu1" class="tab-pane fade">
                                        
                                        <h4><b>Here is a fee structure for AVTS:</b></h4>
                                        <table style="width: 100%;">
                                        <th>Purticular</th> 
                                        <th>Gov.Deputed </th>
                                        <th>Private Institute </th>
                                       
                                        
                                        <tr>
                                            <td>Admission Fee Rs.</td>
                                            <td> 200/-</td>
                                            <td>  200/-</td>
                                           
                                        </tr>  
                                       <tr>
                                           <td>Registration Fee</td>
                                           <td>100</td>
                                           <td> 150/- </td>
                                      

                                       </tr>
                                  
                                    <tr>
                                        <td>Gymkhana Fee</td>
                                        <td> 50/- </td>
                                        <td> 50/-</td>
                                     
                                    </tr>
                                    <tr>
                                        <td>
                                            Library Deposit</td>
                                            <td> 20/-</td>
                                            <td>  20/-</td>
                                           
                                        
                                    </tr>
                                    <tr>
                                        <td>Tuition Fee</td>
                                        <td>350</td>
                                        <td> 650/-</td>
                                       
                                    </tr>
                                    <tr>
                                        <td>Examination Fee</td>
                                        <td> 100/-</td>
                                        <td>  100/-</td>
                                    
                                    </tr>
                                   
                                        </table>
                                      <br>
                                      <br>
                                      <p><b>NOTE - Tution fee should be deposit weekly.</b></p>  
                                    </div>
                                    <div id="menu2" class="tab-pane fade">
                                        <br />
                                        <p>To be a part of this course candidate have to first appear in<b> All India Common Entrance Test(AICET)</b> and the candidate who pass the cutoff marks will call for the counselling and get admission in one of the 21 NSTI.</p>
                                        <p><b>To apply for this entrance exam hit on <a href="http://nimionlineadmission.in"> www.nimionlineadmission.in</a></b></p>
                                    </div>
                                </div>
                            </div>
                            <div class="cor-p4">
                                <h3>About Advance Vocational Training Scheme</h3>
                               
                                <ul class="collapsible" data-collapsible="accordion">
                                    <li>
                                        <div class="collapsible-header active">INDUSTRIAL AUTOMATION</div>
                                        <div class="collapsible-body cor-tim-tab">
                                           
                                            
                                            <ul>
                                                <li>This is the use of control systems, such as computers or robots, and information technologies for handling different processes and machineries in an industry to replace a human being. It is the second step beyond mechanization in the scope of industrialization.</li>
                                                
                                                
                                            </ul>
                                            
                                        </div>
                                    </li>
                                    <li>
                                        <div class="collapsible-header">INFORMATION TECHNOLOGY AND AUTO CAD</div>
                                        <div class="collapsible-body cor-tim-tab">
                                            
                                            <ul>
                                                <li>This course offers Sketch Visualization & Sketch Analysis, Smart Dimensions, Equations, Design Table & Configurations, Geometry & Dimensional Constraints and much more.</li>
                                  
                                               
                                            </ul>
                                            
                                        </div>
                                    </li>
                                    <li>
                                        <div class="collapsible-header">SOLAR TECHNOLOGY AND ITS APPLICATION</div>
                                        <div class="collapsible-body cor-tim-tab">
                                           
                                           
                                            <ul>
                                                <li> This offers stuffs related to solor technology and its applcation like Photovoltaics, Solar Thermal Technology, Solar Heating Systems and many more. </li>
                                              
                                               
                                            </ul>
                                           
                                        </div>
                                    </li>
                                    <li>
                                        <div class="collapsible-header">ADVANCE MEDICAL ELECTRONICS</div>
                                        <div class="collapsible-body cor-tim-tab">
                                           
                                           
                                            <ul>
                                                <li>This course deals with the medical devices benefit patients by helping health care providers diagnose and treat patients and helping patients overcome sickness or disease, improving their quality of life.</li>
                                                
                                            </ul>
                                           
                                        </div>
                                    </li>
                                   
                                </ul>
                            </div>

                    
 <h3>What Students Say</h3>
      <br>
    <div class="boxa">
<div class="wrap">
    <div class="flipbox">
        <div class="flipboxinner">
            <div class="flipboxfront">
                <img src="images/sagar.jpg" width="220px;" height="220px" alt = " " />
            </div>
            <div class="flipboxback">
           <h3 class="sh3">SAGAR<br> SHARMA</h3>
            <p class="srp">This course is consists of so many project based evolution which is really helpful to enhance our skills. </p> 
            </div>
        </div>
    </div>
</div>


<div class="wrap">
    <div class="flipbox">
        <div class="flipboxinner">
            <div class="flipboxfront">
                <img src="images/deepika.jpg" width="220px;" height="220px" alt = " " />
            </div>
            <div class="flipboxback">
             <h3 class="sh3">DEEPIKA<br>PANDEY</h3>
            <p class="srp">Faculities are have put in all their efforts and precious time to make us professional.</p> 
            </div>
        </div>
    </div>
</div>


<div class="wrap">
    <div class="flipbox">
        <div class="flipboxinner">
            <div class="flipboxfront">
                <img src="images/priyam.jpg" width="220px;" height="220px" alt = " " />
            </div>
            <div class="flipboxback">
             <h3 class="sh3">PRIYAM AGNIHOTRI</h3>
            <p class="srp">ADIT is that medium which helps us to be professionals and the best version of ourselves. </p> 
            </div>
        </div>
    </div>
</div>

<div class="wrap">
    <div class="flipbox">
        <div class="flipboxinner">
            <div class="flipboxfront">
                <img src="images/akhil.jpg" width="220px;" height="220px" alt = " " />
            </div>
            <div class="flipboxback">
            <h3 class="sh3">AKHIL<br> KANAUJIYA</h3>
            <p class="srp">This course offers a golden oppurtunity to shape our future in our own way.</p> 
            </div>
        </div>
    </div>
</div>
</div>

</body>
</html>
                            <div class="cor-p6">
                                <h3>Write Your Reviews</h3>
                                <div class="cor-p7-revi">
                                    <form class="col s12">
                                        <div class="row">
                                            <div class="input-field col s6">
                                                <input type="text" class="validate">
                                                <label>Name</label>
                                            </div>
                                            <div class="input-field col s6">
                                                <input type="text" class="validate">
                                                <label>Email id</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="input-field col s12">
                                                <textarea class="materialize-textarea"></textarea>
                                                <label>Message</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="input-field col s12">
                                                <input type="submit" value="Submit" class="waves-effect waves-light btn-book">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="cor-side-com">
                            <div class="ho-ev-latest ho-ev-latest-bg-3">
                                <div class="ho-lat-ev">
                                    <h4>Student Login</h4>
                                    <p>Hey there !<br> Get logged in to check out what's new and update yourself</p>
                                </div>
                            </div>
                            <div class="ho-st-login">
                                <div class="col s12">
                                    <form class="col s12">
                                        <div class="row">
                                            <div class="input-field col s12">
                                                <input type="text" class="validate">
                                                <label>Student user name</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="input-field col s12">
                                                <input type="password" class="validate">
                                                <label>Password</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="input-field col s12">
                                                <input type="submit" value="Login" class="waves-effect waves-light light-btn">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="cor-side-com">
                            <div class="ho-ev-latest ho-ev-latest-bg-2">
                                <div class="ho-lat-ev">
                                    <a href="#">
                                        <h4>Career Progression Pathways</h4>
                                        <p>Can be an enterpreneaur in relevent field.</p>
                                    </a>
                                </div>
                            </div>
                            <div class="ho-ev-latest in-ev-latest-bg-1">
                                <div class="ho-lat-ev">
                                    <a href="#">
                                        <h4>Career Progression Pathways</h4>
                                        <p>  Can join industry as Technician, Supervisor, Senior Technician or level of Manager.</p>
                                    </a>
                                </div>
                            </div>
                            <div class="ho-ev-latest in-ev-latest-bg-1">
                                <div class="ho-lat-ev">
                                    <a href="#">
                                        <h4>Career Progression Pathways</h4>
                                        <p>Trainees can go for engineering field in civil as well as mechanical.  </p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--SECTION END-->


    <!--SECTION START-->
    <section>
        <div class="full-bot-book">
            <div class="container">
                <div class="row">
                    <div class="bot-book">
                        <div class="col-md-2 bb-img">
                            <img src="images/3.png" alt="">
                        </div>
                        <div class="col-md-7 bb-text">
                            <h4>Explore more about NSTI's</h4>
                            <p>You can take a tour of almost all the NSTI's across the country through DGT's website.</p>
                        </div>
                        <div class="col-md-3 bb-link">
                            <a href="https://dgt.gov.in/">Visit DGT's portal</a>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--SECTION END-->

    <!--HEADER SECTION-->
    <section class="wed-hom-footer">
        <div class="container">
            
            <div class="row wed-foot-link">
                <div class="col-md-4 foot-tc-mar-t-o">
                    <h4>Top Courses</h4>
                    <ul>
                        <li><a href="ibm-adit-course-details.html">IBM ADIT</a></li>
                        <li><a href="cits-course-details.html">CITS</a></li>
                        <li><a href="cts-course-details.html">CTS</a></li>
                        <li><a href="avts-course-details.html">AVTS</a></li>
                        
                    </ul>
                </div>
                <div class="col-md-4">
                    <h4>New Courses</h4>
                    <ul>
                        <li><a href="ibm-adit-course-details.html">IBM ADIT</a></li>
                        <li><a href="cits-course-details.html">CITS</a></li>
                        <li><a href="cts-course-details.html">CTS</a></li>
                        <li><a href="avts-course-details.html">AVTS</a></li>
                        
                    </ul>
                </div>
                <div class="col-md-4">
                    <h4>HELP & SUPPORT</h4>
                    <ul>
                        <li><a href="contact-us.html">24x7 Live help</a>
                        </li>
                        <li><a href="contact-us.html">Contact us</a>
                        </li>
                        <li><a href="#">Feedback</a>
                        </li>
                        <li><a href="#">FAQs</a>
                        </li>
                        <li><a href="#">Safety Tips</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row wed-foot-link-1">
                <div class="col-md-4 foot-tc-mar-t-o">
                    <h4>Get In Touch</h4>
                    <p>Address: Green Park, Niranjanpur, Post Office Majra, Dehradun 248001</p>
                    <p>Phone: <a href="tel:0135-2629310">0135-2629310</a></p>
                    <p>Email: <a href="mailto:nsti-dehradun@dgt.gov.in">nsti-dehradun@dgt.gov.in</a></p>
                </div>
                <div class="col-md-4">
                    <h4>DOWNLOAD OUR FREE MOBILE APPS</h4>
                    <ul>
                        <li><a href="#"><span class="sprite sprite-android"></span></a>
                        </li>
                        <li><a href="#"><span class="sprite sprite-ios"></span></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h4>SOCIAL MEDIA</h4>
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- COPY RIGHTS -->
    <section class="wed-rights">
        <div class="container">
            <div class="row">
                <div class="copy-right">
                   <a target="_blank" href="#">NSTI DEHRADUN</a>
                </div>
            </div>
        </div>
    </section>

    <!--SECTION LOGIN, REGISTER AND FORGOT PASSWORD-->
    <section>
        <!-- LOGIN SECTION -->
        <div id="modal1" class="modal fade" role="dialog">
            <div class="log-in-pop">
                <div class="log-in-pop-left">
                    <h1>Hello...</h1>
                    <p>Don't have an account? Create your account. It's take less then a minutes</p>
                    <h4>Login with social media</h4>
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook"></i> Facebook</a>
                        </li>
                        <li><a href="#"><i class="fa fa-google"></i> Google+</a>
                        </li>
                        <li><a href="#"><i class="fa fa-twitter"></i> Twitter</a>
                        </li>
                    </ul>
                </div>
                <div class="log-in-pop-right">
                    <a href="#" class="pop-close" data-dismiss="modal"><img src="images/cancel.png" alt="" />
                    </a>
                    <h4>Login</h4>
                    <p>Don't have an account? Create your account. It's take less then a minutes</p>
                    <form class="s12">
                        <div>
                            <div class="input-field s12">
                                <input type="text" data-ng-model="name" class="validate">
                                <label>User name</label>
                            </div>
                        </div>
                        <div>
                            <div class="input-field s12">
                                <input type="password" class="validate">
                                <label>Password</label>
                            </div>
                        </div>
                        <div>
                            <div class="s12 log-ch-bx">
                                <p>
                                    <input type="checkbox" id="test5" />
                                    <label for="test5">Remember me</label>
                                </p>
                            </div>
                        </div>
                        <div>
                            <div class="input-field s4">
                                <input type="submit" value="Login" class="waves-effect waves-light log-in-btn"> </div>
                        </div>
                        <div>
                            <div class="input-field s12"> <a href="#" data-dismiss="modal" data-toggle="modal" data-target="#modal3">Forgot password</a> | <a href="#" data-dismiss="modal" data-toggle="modal" data-target="#modal2">Create a new account</a> </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- REGISTER SECTION -->
        <div id="modal2" class="modal fade" role="dialog">
            <div class="log-in-pop">
                <div class="log-in-pop-left">
                    <h1>Hello...</h1>
                    <p>Don't have an account? Create your account. It's take less then a minutes</p>
                    <h4>Login with social media</h4>
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook"></i> Facebook</a>
                        </li>
                        <li><a href="#"><i class="fa fa-google"></i> Google+</a>
                        </li>
                        <li><a href="#"><i class="fa fa-twitter"></i> Twitter</a>
                        </li>
                    </ul>
                </div>
                <div class="log-in-pop-right">
                    <a href="#" class="pop-close" data-dismiss="modal"><img src="images/cancel.png" alt="" />
                    </a>
                    <h4>Create an Account</h4>
                    <p>Don't have an account? Create your account. It's take less then a minutes</p>
                    <form class="s12">
                        <div>
                            <div class="input-field s12">
                                <input type="text" data-ng-model="name1" class="validate">
                                <label>User name</label>
                            </div>
                        </div>
                        <div>
                            <div class="input-field s12">
                                <input type="email" class="validate">
                                <label>Email id</label>
                            </div>
                        </div>
                        <div>
                            <div class="input-field s12">
                                <input type="password" class="validate">
                                <label>Password</label>
                            </div>
                        </div>
                        <div>
                            <div class="input-field s12">
                                <input type="password" class="validate">
                                <label>Confirm password</label>
                            </div>
                        </div>
                        <div>
                            <div class="input-field s4">
                                <input type="submit" value="Register" class="waves-effect waves-light log-in-btn"> </div>
                        </div>
                        <div>
                            <div class="input-field s12"> <a href="#" data-dismiss="modal" data-toggle="modal" data-target="#modal1">Are you a already member ? Login</a> </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- FORGOT SECTION -->
        <div id="modal3" class="modal fade" role="dialog">
            <div class="log-in-pop">
                <div class="log-in-pop-left">
                    <h1>Hello... </h1>
                    <p>Don't have an account? Create your account. It's take less then a minutes</p>
                    <h4>Login with social media</h4>
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook"></i> Facebook</a>
                        </li>
                        <li><a href="#"><i class="fa fa-google"></i> Google+</a>
                        </li>
                        <li><a href="#"><i class="fa fa-twitter"></i> Twitter</a>
                        </li>
                    </ul>
                </div>
                <div class="log-in-pop-right">
                    <a href="#" class="pop-close" data-dismiss="modal"><img src="images/cancel.png" alt="" />
                    </a>
                    <h4>Forgot password</h4>
                    <p>Don't have an account? Create your account. It's take less then a minutes</p>
                    <form class="s12">
                        <div>
                            <div class="input-field s12">
                                <input type="text" data-ng-model="name3" class="validate">
                                <label>User name or email id</label>
                            </div>
                        </div>
                        <div>
                            <div class="input-field s4">
                                <input type="submit" value="Submit" class="waves-effect waves-light log-in-btn"> </div>
                        </div>
                        <div>
                            <div class="input-field s12"> <a href="#" data-dismiss="modal" data-toggle="modal" data-target="#modal1">Are you a already member ? Login</a> | <a href="#" data-dismiss="modal" data-toggle="modal" data-target="#modal2">Create a new account</a> </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="icon-float">
            <ul>
                <li><a href="#" class="sh">1k <br> Share</a> </li>
                <li><a href="#" class="fb1"><i class="fa fa-facebook" aria-hidden="true"></i></a> </li>
                <li><a href="#" class="gp1"><i class="fa fa-google-plus" aria-hidden="true"></i></a> </li>
                <li><a href="#" class="tw1"><i class="fa fa-twitter" aria-hidden="true"></i></a> </li>
                <li><a href="#" class="li1"><i class="fa fa-linkedin" aria-hidden="true"></i></a> </li>
                <li><a href="#" class="wa1"><i class="fa fa-whatsapp" aria-hidden="true"></i></a> </li>
                <li><a href="#" class="sh1"><i class="fa fa-envelope-o" aria-hidden="true"></i></a> </li>
            </ul>
        </div>
    </section>

    <!--Import jQuery before materialize.js-->
    <script src="js/main.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/materialize.min.js"></script>
    <script src="js/custom.js"></script>
</body>


</html>